/*Universal selectors*/
* {
  margin: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
  height: 100%;
  min-height: 100%;
}

/*Navigation bar*/
header {
  background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)),url('../images/OIP.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
}

.logo {
  height: 20px;
}

.navigation {
  display: flex;
  list-style: none;
  justify-content: space-between;
  color: #4b4b4b;
  background: #000;
  margin-top: 15px;
  flex-wrap: wrap;
}

.nav {
  text-decoration: none;
  color: #fff;
}

.nav:hover {
  color: #000;
  background: white;
  position: static;
  box-shadow: 5px 5px #000000, 5px 5px #ffffff, 5px 5px #000000;
}

@media screen and (max-width: 576px) {
  .container{
    grid-template-columns: repeat(1, 1fr);
  }

  .title {
    font-size: 20px;
  }

  .more {
    font-size: 10px;
  }

  .introduction {
    flex-direction: column;
  }

  .profile{
    position: static;
    height: 200px;
    width: 200px;
  }

  header {
    background-size: contain;
    background-repeat: repeat-y;
  }
}

@media screen and (min-width: 576px) and (max-width: 922px) {
  .container{
    grid-template-columns: repeat(2, 1fr);
  }

  .title {
    font-size: 30px;
  }

  .more{
    font-size: 20px;
  }

  .introduction {
    flex-direction: column;
  }

  .profile  {
    position: static;
    height: 400px;
    width: 400px;
  }
}